flows.json
[
    {
        "id": "f595383a0843f950",
        "type": "tab",
        "label": "AMS Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "58531eb4c616092e",
        "type": "tab",
        "label": "MPCU Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7de09f7e9474d780",
        "type": "tab",
        "label": "Cell data in TSAC",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7dade78592428d89",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4197684541243468",
        "type": "tab",
        "label": "Communication",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "502c719c9684924f",
        "type": "group",
        "z": "58531eb4c616092e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "741ac3e0aaa824f5",
            "b6e9d2e30ebf0329",
            "c644ced362abf975",
            "e49b49825ad2c064",
            "2b8b76cbe9120ee2",
            "808cf751c6ac1fec",
            "f99e5d93708119d6",
            "5bf6b1ab43c4c95b",
            "8c0610f6400aede8",
            "f78efc00d9919988",
            "b8586a5d73abccfc",
            "22ba0cad4f15a88a",
            "1cc5e12316185997",
            "92a6a44fd4471d8c",
            "e0e92b61642707d5"
        ],
        "x": 854,
        "y": 119,
        "w": 392,
        "h": 382
    },
    {
        "id": "12d2f6354e0fbdfd",
        "type": "group",
        "z": "58531eb4c616092e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "356a19b288981f9f",
            "7b8c84530a21dfec",
            "080cd2da23dc0462",
            "8e4ffcca61340f3d",
            "48959e44d41020c3"
        ],
        "x": 134,
        "y": 119,
        "w": 392,
        "h": 202
    },
    {
        "id": "50019cb37f3dfa92",
        "type": "group",
        "z": "58531eb4c616092e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "6d269fb2c4010f45",
            "39cc9e6832250b4d",
            "da293570cdb89a2d",
            "d213ec5cf047ba71",
            "2e5716ee927c9076",
            "794a7e65aa3b9130",
            "2d776543f5b95b12",
            "5a7f66cea22f5c1e",
            "03d6871ae86bdc6d",
            "c3d1700752b1d443",
            "4872fd1e4fec1e01",
            "bfe3078b728c50d9",
            "464a558d4c4d2808",
            "7ded3a3d92ad98ab",
            "cd3b6e7c07e1b0f8",
            "da80081c3ceb03bf",
            "ce47f0ed02af1ac3",
            "63510a53b3c81696",
            "122e8bc88c49ef15",
            "34794d4b807c868d",
            "f937a48dafb7e4ce",
            "08c4fabbcdcd9b7c",
            "2ec8f7abe60963fe",
            "63321d9bce378ae4",
            "9c4118dcf7f9fda7",
            "ae1a0a7a0c033d7b",
            "988066609920e577"
        ],
        "x": -6,
        "y": 539,
        "w": 1752,
        "h": 562
    },
    {
        "id": "2ed428752a2a8e1c",
        "type": "group",
        "z": "58531eb4c616092e",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "bf81fef9d6979b4b",
            "6a2b5939fd1cb5d1",
            "59b83c4f121bf715",
            "29fec4d21c141606",
            "05f07425262bfe02",
            "fd22acc5301c6f88",
            "3133ca825ea805b7",
            "cdb3c33dbb3ffdd5",
            "caa2c4af47e6fcea"
        ],
        "x": 1114,
        "y": 1359,
        "w": 252,
        "h": 482
    },
    {
        "id": "a1947a9da86cce22",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control",
            "ui-markdown"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "a99d81eafbb77aba",
        "type": "ui-theme",
        "name": "Dark Mode",
        "colors": {
            "surface": "#0094ce",
            "primary": "#0094ce",
            "bgPage": "#1f1f1f",
            "groupBg": "#000000",
            "groupOutline": "#ffffff"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "1ea86211ab64724d",
        "type": "ui-page",
        "name": "MPCU",
        "ui": "a1947a9da86cce22",
        "path": "/MPCU",
        "icon": "server-network",
        "layout": "grid",
        "theme": "a99d81eafbb77aba",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "7ce9ca5952a94637",
        "type": "ui-group",
        "name": "Tractive System",
        "page": "1ea86211ab64724d",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "d53733ac69e85630",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "e3b8cff4e6ddd0e6",
        "type": "ui-group",
        "name": "Status",
        "page": "1ea86211ab64724d",
        "width": 12,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "12dbcafb65a6e667",
        "type": "ui-group",
        "name": "Settings",
        "page": "1ea86211ab64724d",
        "width": 12,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "0ebe4591e75e381a",
        "type": "ui-spacer",
        "group": "12dbcafb65a6e667",
        "name": "spacer",
        "order": 11,
        "width": 3,
        "height": 2,
        "className": ""
    },
    {
        "id": "d9df23d6a6ef270f",
        "type": "ui-page",
        "name": "AMS",
        "ui": "a1947a9da86cce22",
        "path": "/AMS",
        "icon": "home",
        "layout": "grid",
        "theme": "a99d81eafbb77aba",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "25cb88409ba9fd0d",
        "type": "ui-group",
        "name": "Temperatures",
        "page": "d9df23d6a6ef270f",
        "width": 6,
        "height": "6",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8579c314567beff0",
        "type": "ui-group",
        "name": "Voltages",
        "page": "d9df23d6a6ef270f",
        "width": 6,
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ab3e0ca24f4ad4dc",
        "type": "ui-group",
        "name": "Isabellenhütte",
        "page": "d9df23d6a6ef270f",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "4f140fe5ae232b4d",
        "type": "ui-group",
        "name": "TSAC Statistics",
        "page": "d9df23d6a6ef270f",
        "width": 6,
        "height": "2",
        "order": 5,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "359d13a03a079e3c",
        "type": "ui-group",
        "name": "Discharge/Charge",
        "page": "d9df23d6a6ef270f",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "c6d2183af4f6de20",
        "type": "ui-spacer",
        "group": "25cb88409ba9fd0d",
        "name": "spacer",
        "order": 1,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "c6d21864814f264c",
        "type": "ui-spacer",
        "group": "25cb88409ba9fd0d",
        "name": "spacer",
        "order": 3,
        "width": 1,
        "height": 1,
        "className": ""
    },
    {
        "id": "c4d6bd7733ec7aed",
        "type": "ui-page",
        "name": "Cell Data",
        "ui": "a1947a9da86cce22",
        "path": "/CELLS",
        "icon": "home",
        "layout": "grid",
        "theme": "a99d81eafbb77aba",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": false
    },
    {
        "id": "8fe5ca59c52d6275",
        "type": "ui-group",
        "name": "Voltages",
        "page": "c4d6bd7733ec7aed",
        "width": 6,
        "height": "12",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ee22140f2902b281",
        "type": "ui-group",
        "name": "Settings",
        "page": "d9df23d6a6ef270f",
        "width": 12,
        "height": 1,
        "order": 7,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "b3fa03189094dec6",
        "type": "global-config",
        "env": [
            {
                "name": "NODE_RED_ENABLE_PROJECTS",
                "value": "true",
                "type": "bool"
            }
        ],
        "modules": {}
    },
    {
        "id": "6d5d33ea848dfe82",
        "type": "ui-group",
        "name": "TSAC Balancing Statistics",
        "page": "d9df23d6a6ef270f",
        "width": 6,
        "height": 1,
        "order": 6,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "cf211e448b9dffae",
        "type": "ui-spacer",
        "group": "ee22140f2902b281",
        "name": "spacer",
        "order": 2,
        "width": 4,
        "height": 1,
        "className": ""
    },
    {
        "id": "cf2bd1a3b66966bf",
        "type": "ui-spacer",
        "group": "359d13a03a079e3c",
        "name": "spacer",
        "order": 3,
        "width": 1,
        "height": 3,
        "className": ""
    },
    {
        "id": "cf34db503580b747",
        "type": "ui-spacer",
        "group": "7ce9ca5952a94637",
        "name": "spacer",
        "order": 7,
        "width": 1,
        "height": 6,
        "className": ""
    },
    {
        "id": "cf34df5695ba3fda",
        "type": "ui-spacer",
        "group": "7ce9ca5952a94637",
        "name": "spacer",
        "order": 9,
        "width": 1,
        "height": 3,
        "className": ""
    },
    {
        "id": "1a52191c22f83d4f",
        "type": "ui-group",
        "name": "Temperatures",
        "page": "c4d6bd7733ec7aed",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "547696f99c243db1",
        "type": "ui-page",
        "name": "Sensors",
        "ui": "a1947a9da86cce22",
        "path": "/Sensors",
        "icon": "home",
        "layout": "grid",
        "theme": "a99d81eafbb77aba",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a9df5341a2cc8e73",
        "type": "ui-group",
        "name": "APPS",
        "page": "547696f99c243db1",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2516a70ee6240323",
        "type": "ui-page",
        "name": "Oscilloscope",
        "ui": "a1947a9da86cce22",
        "path": "/oscilloscope",
        "icon": "home",
        "layout": "grid",
        "theme": "a99d81eafbb77aba",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "d3a6c0f58c7fa4aa",
        "type": "ui-spacer",
        "group": "12dbcafb65a6e667",
        "name": "spacer",
        "order": 8,
        "width": 1,
        "height": 5,
        "className": ""
    },
    {
        "id": "c449922502408448",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "min_cell_temp",
        "group": "25cb88409ba9fd0d",
        "order": 4,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_MIN_TEMP",
        "valueType": "jsonata",
        "width": 1,
        "height": 2,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Min Cell Temp",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "temperature-celsius",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "none"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "none"
            },
            {
                "from": "50",
                "color": "#ea5353",
                "text": "",
                "textType": "none"
            }
        ],
        "min": 0,
        "max": "70",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "62b635778919e3f6",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "avg_cell_temp",
        "group": "25cb88409ba9fd0d",
        "order": 2,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_AVG_TEMP",
        "valueType": "jsonata",
        "width": 4,
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Avg Cell Temp",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "temperature-celsius",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "70",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "e44be330d8fd3dc9",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "max_cell_temp",
        "group": "25cb88409ba9fd0d",
        "order": 5,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_MAX_TEMP",
        "valueType": "jsonata",
        "width": 1,
        "height": 2,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Max Cell Temp",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "temperature-celsius",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "70",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "40618e807cf26571",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "min_cell_voltage",
        "group": "8579c314567beff0",
        "order": 1,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_MIN_VOLTAGE",
        "valueType": "jsonata",
        "width": 1,
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Min Cell Voltage",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "battery",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "3",
                "color": "#ea5353",
                "text": "",
                "textType": "none"
            },
            {
                "from": "3.3",
                "color": "#ffc800",
                "text": "",
                "textType": "none"
            },
            {
                "from": "3.5",
                "color": "#5cd65c",
                "text": "",
                "textType": "none"
            }
        ],
        "min": "3",
        "max": "5",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "20adb995c7df110e",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "avg_cell_voltage",
        "group": "8579c314567beff0",
        "order": 2,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_AVG_VOLTAGE",
        "valueType": "jsonata",
        "width": 1,
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Avg Cell Voltage",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "battery",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "3",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "3.3",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "3.5",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "3",
        "max": "5",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a4fc2b3d59cdfb2e",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "max_cell_voltage",
        "group": "8579c314567beff0",
        "order": 3,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_MAX_VOLTAGE",
        "valueType": "jsonata",
        "width": 1,
        "height": "2",
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Max Cell Voltage",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "battery",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "3",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "3.3",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "3.5",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "3",
        "max": "5",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "bdaf21fd4e2fd944",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "sum_cell_voltage",
        "group": "8579c314567beff0",
        "order": 4,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_SUM_VOLTAGE",
        "valueType": "jsonata",
        "width": "3",
        "height": 5,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Battery pack voltage",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "flash-triangle",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "300",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "360",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "390",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "463",
                "color": "#d65c5c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "300",
        "max": "500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "4c23c78d5f82c942",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "battery SOC",
        "group": "8579c314567beff0",
        "order": 5,
        "value": "msg.payload.TSAC_STAT.TSAC_SOC",
        "valueType": "jsonata",
        "width": "3",
        "height": "3",
        "gtype": "gauge-battery",
        "gstyle": "rounded",
        "title": "SOC",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "battery",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "20",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "154ba3d0b38b4e7d",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "isa_voltage",
        "group": "ab3e0ca24f4ad4dc",
        "order": 1,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_ISA_VOLTAGE",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "TSAC voltage",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "flash-triangle",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "300",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "360",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "390",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "463",
                "color": "#d65c5c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "300",
        "max": "500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "783d3a23f23a965e",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "isa_current",
        "group": "ab3e0ca24f4ad4dc",
        "order": 2,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_ISA_CURRENT",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "TSAC Current",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "battery",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "200",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "250",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "300",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "8c1ce03f85a49c1b",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "isa_power",
        "group": "ab3e0ca24f4ad4dc",
        "order": 3,
        "value": "msg.payload.TSAC_STAT.TSAC_ISA_POWER",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "TSAC power",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "W",
        "icon": "power-plug",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "65000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "75000",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": "0",
        "max": "90000",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "1df76cb24a18e102",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "discharge_limit",
        "group": "359d13a03a079e3c",
        "order": 1,
        "value": "msg.payload.AVAILABLE_CURRENT.TSAC_MAX_DISCHARGE_CURRENT",
        "valueType": "jsonata",
        "width": 1,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Discharge limit",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00b3ff",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "250",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "78bb4dcde10252d1",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "charge_limit",
        "group": "359d13a03a079e3c",
        "order": 2,
        "value": "msg.payload.AVAILABLE_CURRENT.TSAC_MAX_CHARGE_CURRENT",
        "valueType": "jsonata",
        "width": 1,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Charge limit",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#85daff",
                "text": "",
                "textType": "none"
            }
        ],
        "min": 0,
        "max": "250",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f9ea881339d1f80c",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "ts_state",
        "group": "4f140fe5ae232b4d",
        "order": 1,
        "value": "msg.payload.TSAC_STAT.TSAC_TS_STATE",
        "valueType": "jsonata",
        "width": 3,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "TS STATE",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "TS OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#ffc800",
                "text": "TS PRECHARGE",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff8000",
                "text": "TS ON",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ea5353",
                "text": "TSERROR",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "6a622b708fe6ec88",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "bender_state",
        "group": "4f140fe5ae232b4d",
        "order": 2,
        "value": "msg.payload.TSAC_STAT.TSAC_BENDER_STATE",
        "valueType": "jsonata",
        "width": 3,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Bender State",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "IMD OFF OR SHORT",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#5cd65c",
                "text": "NORMAL",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff8000",
                "text": "UNDERVOLTAGE",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#5cd65c",
                "text": "SPEED START MEASUREMENT",
                "textType": "str"
            },
            {
                "from": "4",
                "color": "#ea5353",
                "text": "DEVICE ERROR",
                "textType": "str"
            },
            {
                "from": "5",
                "color": "#ea5353",
                "text": "CONNECTION FAULT",
                "textType": "str"
            },
            {
                "from": "6",
                "color": "#ea5353",
                "text": "HARD ERROR",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "de6c18673b2eb79b",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "being discharged",
        "group": "6d5d33ea848dfe82",
        "order": 2,
        "value": "msg.payload.TSAC_STAT.TSAC_BEING_DISCHARGED",
        "valueType": "jsonata",
        "width": "2",
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Being discharged",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "battery-unknown",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "60",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "b286d686c2d15985",
        "type": "ui-switch",
        "z": "f595383a0843f950",
        "name": "Balancing Override",
        "label": "Balancing Override",
        "group": "6d5d33ea848dfe82",
        "order": 5,
        "width": 1,
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "override",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "cog",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check",
        "offcolor": "green",
        "x": 750,
        "y": 100,
        "wires": [
            [
                "6f883bfd37ed20e8"
            ]
        ]
    },
    {
        "id": "8bfa8e0d13a4211b",
        "type": "ui-button-group",
        "z": "f595383a0843f950",
        "name": "Balancing Override",
        "group": "6d5d33ea848dfe82",
        "order": 6,
        "width": "1",
        "height": 1,
        "label": "",
        "className": "my-class",
        "rounded": false,
        "useThemeColors": false,
        "passthru": false,
        "options": [
            {
                "label": "OFF",
                "icon": "",
                "value": "0",
                "valueType": "num",
                "color": "#009933"
            },
            {
                "label": "AUTO",
                "icon": "",
                "value": "1",
                "valueType": "num",
                "color": "#00b3ff"
            }
        ],
        "topic": "Set_balancing_mode",
        "topicType": "str",
        "x": 750,
        "y": 180,
        "wires": [
            [
                "141ade74adf429bb"
            ]
        ]
    },
    {
        "id": "6f883bfd37ed20e8",
        "type": "InterruptFlowUltimate",
        "z": "f595383a0843f950",
        "name": "Interrupt Flow",
        "triggertopic": "override",
        "initializewith": "0",
        "autoToggle": "0",
        "payloadPropName": "payload",
        "translatorConfig": "",
        "x": 1450,
        "y": 100,
        "wires": [
            [
                "e017eb4860ec0fc6"
            ]
        ]
    },
    {
        "id": "5844b0df472597dd",
        "type": "link in",
        "z": "f595383a0843f950",
        "name": "Incomming messages",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 195,
        "y": 620,
        "wires": [
            [
                "c449922502408448",
                "62b635778919e3f6",
                "e44be330d8fd3dc9",
                "40618e807cf26571",
                "20adb995c7df110e",
                "a4fc2b3d59cdfb2e",
                "bdaf21fd4e2fd944",
                "154ba3d0b38b4e7d",
                "4c23c78d5f82c942",
                "783d3a23f23a965e",
                "8c1ce03f85a49c1b",
                "1df76cb24a18e102",
                "78bb4dcde10252d1",
                "f9ea881339d1f80c",
                "6a622b708fe6ec88",
                "de6c18673b2eb79b",
                "379c09dc7a2437bc",
                "91675be5fc91db85",
                "d9fa83f922e148df",
                "8772366b98e14280",
                "6142f2446ed50862",
                "800376c8f66fb21f",
                "58ccc31dded11a02",
                "b37a7ec90a408c11",
                "2fe7df48a6a941da"
            ]
        ]
    },
    {
        "id": "379c09dc7a2437bc",
        "type": "change",
        "z": "f595383a0843f950",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.TSAC_STAT.TSAC_BALANCING_STATE)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 180,
        "wires": [
            [
                "8bfa8e0d13a4211b"
            ]
        ]
    },
    {
        "id": "91675be5fc91db85",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "ts_error",
        "group": "4f140fe5ae232b4d",
        "order": 3,
        "value": "msg.payload.TSAC_ERROR.TSAC_ERROR",
        "valueType": "jsonata",
        "width": 2,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Last TS Error",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "NO ERROR",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#ea5353",
                "text": "OVERVOLTAGE",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ea5353",
                "text": "UNDERVOLTAGE",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ea5353",
                "text": "OVERTEMPERATURE",
                "textType": "str"
            },
            {
                "from": "4",
                "color": "#ea5353",
                "text": "TEMP OPENWIRE",
                "textType": "str"
            },
            {
                "from": "5",
                "color": "#ea5353",
                "text": "CELL OPENWIRE",
                "textType": "str"
            },
            {
                "from": "6",
                "color": "#ea5353",
                "text": "VOLTAGE DIFFERENCE",
                "textType": "str"
            },
            {
                "from": "7",
                "color": "#ea5353",
                "text": "OVERTIME",
                "textType": "str"
            },
            {
                "from": "8",
                "color": "#ea5353",
                "text": "RELAY STUCK",
                "textType": "str"
            },
            {
                "from": "9",
                "color": "#ea5353",
                "text": "ISA OVERHEAT",
                "textType": "str"
            },
            {
                "from": "10",
                "color": "#ea5353",
                "text": "OVERCHARGE",
                "textType": "str"
            },
            {
                "from": "11",
                "color": "#ea5353",
                "text": "OVERDISCHARGE",
                "textType": "str"
            },
            {
                "from": "12",
                "color": "#ea5353",
                "text": "HARDWARE FAILURE",
                "textType": "str"
            },
            {
                "from": "13",
                "color": "#ea5353",
                "text": "PRECHARGE TIMEOUT",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "13",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 720,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "c7089cb7a6a374de",
        "type": "ui-button",
        "z": "f595383a0843f950",
        "group": "4f140fe5ae232b4d",
        "name": "",
        "label": "Reset error and warning",
        "order": 4,
        "width": 2,
        "height": 2,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "{\"TSAC_ERROR\":{\"TSAC_ERROR\":0},\"TSAC_WARNING\":{\"TSAC_WARNING\":0}}",
        "payloadType": "json",
        "topic": "tserrorwarningreset",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 330,
        "y": 1380,
        "wires": [
            [
                "91675be5fc91db85",
                "b37a7ec90a408c11"
            ]
        ]
    },
    {
        "id": "e017eb4860ec0fc6",
        "type": "link out",
        "z": "f595383a0843f950",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "a340626bd648322b"
        ],
        "x": 1615,
        "y": 100,
        "wires": []
    },
    {
        "id": "141ade74adf429bb",
        "type": "change",
        "z": "f595383a0843f950",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send.Set_balancing_mode.Set_balancing_mode",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 180,
        "wires": [
            [
                "6f883bfd37ed20e8"
            ]
        ]
    },
    {
        "id": "d9fa83f922e148df",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "balancing_state",
        "group": "6d5d33ea848dfe82",
        "order": 4,
        "value": "msg.payload.TSAC_STAT.TSAC_BALANCING_STATE",
        "valueType": "jsonata",
        "width": 2,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "TS Balancing State",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#ffc800",
                "text": "AUTO",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff8000",
                "text": "ON",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "3",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "cc0a8371bb6fc078",
        "type": "ui-button",
        "z": "f595383a0843f950",
        "group": "ee22140f2902b281",
        "name": "TSON",
        "label": "TS ON",
        "order": 3,
        "width": 4,
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "s",
        "icon": "power-plug-battery-outline",
        "iconPosition": "left",
        "payload": "1",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "red",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 410,
        "y": 1500,
        "wires": [
            [
                "57245c8bdbaad583"
            ]
        ]
    },
    {
        "id": "25c1d4b07f5e98aa",
        "type": "ui-button",
        "z": "f595383a0843f950",
        "group": "ee22140f2902b281",
        "name": "TSOFF",
        "label": "TS OFF",
        "order": 1,
        "width": 4,
        "height": "2",
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "power-plug-off",
        "iconPosition": "left",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "green",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 420,
        "y": 1560,
        "wires": [
            [
                "b12ea23a44291178"
            ]
        ]
    },
    {
        "id": "57245c8bdbaad583",
        "type": "change",
        "z": "f595383a0843f950",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send.TS_ON_OFF.TS_ON_OFF",
                "pt": "msg",
                "to": "1",
                "tot": "num",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1500,
        "wires": [
            [
                "61bcb02cec7bbe36"
            ]
        ]
    },
    {
        "id": "61bcb02cec7bbe36",
        "type": "link out",
        "z": "f595383a0843f950",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "a340626bd648322b"
        ],
        "x": 935,
        "y": 1500,
        "wires": []
    },
    {
        "id": "b12ea23a44291178",
        "type": "change",
        "z": "f595383a0843f950",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send.TS_ON_OFF.TS_ON_OFF",
                "pt": "msg",
                "to": "0",
                "tot": "num",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 1560,
        "wires": [
            [
                "64f6f01c27054c11"
            ]
        ]
    },
    {
        "id": "64f6f01c27054c11",
        "type": "link out",
        "z": "f595383a0843f950",
        "name": "link out 3",
        "mode": "link",
        "links": [
            "a340626bd648322b"
        ],
        "x": 935,
        "y": 1560,
        "wires": []
    },
    {
        "id": "8772366b98e14280",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "thermal_reduction",
        "group": "359d13a03a079e3c",
        "order": 4,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_THERMAL_REDUCTION",
        "valueType": "jsonata",
        "width": 1,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Thermal Reduction",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "none"
            },
            {
                "from": "10",
                "color": "#00ff00",
                "text": "",
                "textType": "none"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "6142f2446ed50862",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "unbalance_reduction",
        "group": "359d13a03a079e3c",
        "order": 6,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_UNBALANCE_REDUCTION",
        "valueType": "jsonata",
        "width": 1,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Unbalance Reduction",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "none"
            },
            {
                "from": "10",
                "color": "#00ff00",
                "text": "",
                "textType": "none"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 760,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "800376c8f66fb21f",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "voltage_reduction",
        "group": "359d13a03a079e3c",
        "order": 5,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_VOILTAGE_REDUCTION",
        "valueType": "jsonata",
        "width": 1,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Voltage Reduction",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ff0000",
                "text": "",
                "textType": "none"
            },
            {
                "from": "10",
                "color": "#00ff00",
                "text": "",
                "textType": "none"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 750,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "58ccc31dded11a02",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "unbalanced rate",
        "group": "6d5d33ea848dfe82",
        "order": 3,
        "value": "msg.payload.TSAC_STAT.TSAC_STAT_UNBALANCE_RATE",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Unbalanced rate",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "battery-unknown",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "5",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "15",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 740,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "b37a7ec90a408c11",
        "type": "ui-gauge",
        "z": "f595383a0843f950",
        "name": "ts_warning",
        "group": "4f140fe5ae232b4d",
        "order": 5,
        "value": "msg.payload.TSAC_ERROR.TSAC_ERROR",
        "valueType": "jsonata",
        "width": 2,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Last TS Warning",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "NO ERROR",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#ffc800",
                "text": "OVERVOLTAGE",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ffc800",
                "text": "UNDERVOLTAGE",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ffc800",
                "text": "OVERTEMPERATURE",
                "textType": "str"
            },
            {
                "from": "4",
                "color": "#ffc800",
                "text": "TEMP OPENWIRE",
                "textType": "str"
            },
            {
                "from": "5",
                "color": "#ffc800",
                "text": "CELL OPENWIRE",
                "textType": "str"
            },
            {
                "from": "6",
                "color": "#ffc800",
                "text": "VOLTAGE DIFFERENCE",
                "textType": "str"
            },
            {
                "from": "7",
                "color": "#ffc800",
                "text": "STATE CONTROL",
                "textType": "str"
            },
            {
                "from": "8",
                "color": "#ffc800",
                "text": "STARTUP",
                "textType": "str"
            },
            {
                "from": "9",
                "color": "#ffc800",
                "text": "SDC OPENED",
                "textType": "str"
            },
            {
                "from": "10",
                "color": "#ffc800",
                "text": "AIR + OPENED",
                "textType": "str"
            },
            {
                "from": "11",
                "color": "#ffc800",
                "text": "AIR - OPENED",
                "textType": "str"
            },
            {
                "from": "12",
                "color": "#ffc800",
                "text": "RELAY STUCK DURING ERROR",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "12",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 730,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "2fe7df48a6a941da",
        "type": "ui-text",
        "z": "f595383a0843f950",
        "group": "ee22140f2902b281",
        "order": 4,
        "width": 4,
        "height": 0,
        "name": "Timestamp",
        "label": "Last AMS message received",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "$exists(payload.TSAC_STAT.TSAC_TS_STATE) ? timestamp",
        "valueType": "jsonata",
        "x": 470,
        "y": 240,
        "wires": []
    },
    {
        "id": "ab52c344a1894ace",
        "type": "ui-template",
        "z": "f595383a0843f950",
        "group": "6d5d33ea848dfe82",
        "page": "",
        "ui": "",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<style>\n    /* define any styles here - supports raw CSS */\n    .my-class {\n        background-color: grey;\n        margin: auto\n    }\n</style>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "8bfa8e0d13a4211b"
            ]
        ]
    },
    {
        "id": "e0e92b61642707d5",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "Vehicle state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 1,
        "value": "msg.payload.Send_Vehicle_State.Vehicle_State",
        "valueType": "jsonata",
        "width": 3,
        "height": 3,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Vehicle State",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "STARTUP",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "STANDBY",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#00d5ff",
                "text": "TSON",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#00d5ff",
                "text": "R2D",
                "textType": "str"
            },
            {
                "from": "4",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "741ac3e0aaa824f5",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "APPS state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 10,
        "value": "msg.payload.MPCU_system_status_report.APPS",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "356a19b288981f9f",
        "type": "inject",
        "z": "58531eb4c616092e",
        "g": "12d2f6354e0fbdfd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "48959e44d41020c3"
            ]
        ]
    },
    {
        "id": "7b8c84530a21dfec",
        "type": "inject",
        "z": "58531eb4c616092e",
        "g": "12d2f6354e0fbdfd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 230,
        "y": 200,
        "wires": [
            [
                "48959e44d41020c3"
            ]
        ]
    },
    {
        "id": "080cd2da23dc0462",
        "type": "inject",
        "z": "58531eb4c616092e",
        "g": "12d2f6354e0fbdfd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "48959e44d41020c3"
            ]
        ]
    },
    {
        "id": "8e4ffcca61340f3d",
        "type": "inject",
        "z": "58531eb4c616092e",
        "g": "12d2f6354e0fbdfd",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "num",
        "x": 230,
        "y": 280,
        "wires": [
            [
                "48959e44d41020c3"
            ]
        ]
    },
    {
        "id": "b6e9d2e30ebf0329",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 8,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "DASH",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "c644ced362abf975",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "TSAC state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 11,
        "value": "msg.payload.MPCU_system_status_report.TSAC",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "e49b49825ad2c064",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "RSU state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 12,
        "value": "msg.payload.MPCU_system_status_report.RSU",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "2b8b76cbe9120ee2",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "FSU state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 13,
        "value": "msg.payload.MPCU_system_status_report.FSU",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 940,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "808cf751c6ac1fec",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "Telemetry state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 14,
        "value": "msg.payload.MPCU_system_status_report.Telemetry",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 960,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "f99e5d93708119d6",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "Inverter state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 15,
        "value": "msg.payload.MPCU_system_status_report.Inverter",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "5bf6b1ab43c4c95b",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "name": "Dash state",
        "group": "e3b8cff4e6ddd0e6",
        "order": 16,
        "value": "msg.payload.MPCU_system_status_report.Dash",
        "valueType": "jsonata",
        "width": "1",
        "height": "2",
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-right",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ffc800",
                "text": "OFF",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#6fff52",
                "text": "ON",
                "textType": "str"
            },
            {
                "from": "2",
                "color": "#ff0000",
                "text": "ERROR",
                "textType": "str"
            },
            {
                "from": "3",
                "color": "#ff0000",
                "text": "COMM",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": 10,
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "48959e44d41020c3",
        "type": "change",
        "z": "58531eb4c616092e",
        "g": "12d2f6354e0fbdfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "test",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "8c0610f6400aede8",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "INV",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 420,
        "wires": []
    },
    {
        "id": "f78efc00d9919988",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "TELEM",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1160,
        "y": 380,
        "wires": []
    },
    {
        "id": "b8586a5d73abccfc",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "FSU",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 340,
        "wires": []
    },
    {
        "id": "22ba0cad4f15a88a",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "RSU",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 300,
        "wires": []
    },
    {
        "id": "1cc5e12316185997",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "TSAC",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 260,
        "wires": []
    },
    {
        "id": "92a6a44fd4471d8c",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "502c719c9684924f",
        "group": "e3b8cff4e6ddd0e6",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "",
        "label": "APPS",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": true,
        "font": "Helvetica, sans-serif",
        "fontSize": "30",
        "color": "#ffffff",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1150,
        "y": 220,
        "wires": []
    },
    {
        "id": "d213ec5cf047ba71",
        "type": "ui-slider",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "group": "12dbcafb65a6e667",
        "name": "Power limiter",
        "label": "",
        "tooltip": "",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "10",
        "max": "80",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "red",
        "colorTrack": "red",
        "colorThumb": "white",
        "showTextField": false,
        "x": 530,
        "y": 640,
        "wires": [
            [
                "794a7e65aa3b9130"
            ]
        ]
    },
    {
        "id": "2e5716ee927c9076",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "Power limiter",
        "group": "12dbcafb65a6e667",
        "order": 6,
        "value": "msg.payload.MPCU_systems_settings_to_dash.Power_limitter",
        "valueType": "jsonata",
        "width": 4,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Power Limiter",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "kW",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "60",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "80",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1630,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "794a7e65aa3b9130",
        "type": "change",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "Power_limitter.Power_limitter",
                "pt": "msg",
                "to": "msg.payload*1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 640,
        "wires": [
            [
                "7ded3a3d92ad98ab"
            ]
        ]
    },
    {
        "id": "2d776543f5b95b12",
        "type": "ui-slider",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "group": "12dbcafb65a6e667",
        "name": "Max Motor RPM",
        "label": "",
        "tooltip": "",
        "order": 13,
        "width": 4,
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "500",
        "max": "5500",
        "step": "500",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "red",
        "colorTrack": "red",
        "colorThumb": "white",
        "showTextField": false,
        "x": 540,
        "y": 760,
        "wires": [
            [
                "da80081c3ceb03bf"
            ]
        ]
    },
    {
        "id": "5a7f66cea22f5c1e",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "Max Motor RPM",
        "group": "12dbcafb65a6e667",
        "order": 7,
        "value": "msg.payload.MPCU_systems_settings_to_dash.Max_motor_RPM",
        "valueType": "jsonata",
        "width": 4,
        "height": 4,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Max Motor RPM",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "5000",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "5500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1640,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "ce47f0ed02af1ac3",
        "type": "ui-switch",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "PL override",
        "label": "PL",
        "group": "12dbcafb65a6e667",
        "order": 9,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "override",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "cog",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check",
        "offcolor": "green",
        "x": 530,
        "y": 700,
        "wires": [
            [
                "7ded3a3d92ad98ab"
            ]
        ]
    },
    {
        "id": "6d269fb2c4010f45",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "group": "12dbcafb65a6e667",
        "order": 3,
        "width": 1,
        "height": 0,
        "name": "",
        "label": "OVERRIDEs",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 530,
        "y": 580,
        "wires": []
    },
    {
        "id": "cd3b6e7c07e1b0f8",
        "type": "ui-switch",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "RPM override",
        "label": "RPM",
        "group": "12dbcafb65a6e667",
        "order": 10,
        "width": "1",
        "height": "1",
        "passthru": true,
        "decouple": false,
        "topic": "override",
        "topicType": "str",
        "style": "",
        "className": "",
        "layout": "row-spread",
        "clickableArea": "switch",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "cog",
        "oncolor": "red",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "check",
        "offcolor": "green",
        "x": 540,
        "y": 800,
        "wires": [
            [
                "da80081c3ceb03bf"
            ]
        ]
    },
    {
        "id": "03d6871ae86bdc6d",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "FAN M1",
        "group": "12dbcafb65a6e667",
        "order": 15,
        "value": "msg.payload.MPCU_values.MPCU_FAN1_SPEED",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "FAN M1",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1620,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "c3d1700752b1d443",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "FAN M2",
        "group": "12dbcafb65a6e667",
        "order": 16,
        "value": "msg.payload.MPCU_values.MPCU_FAN2_SPEED",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "FAN M2",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "4872fd1e4fec1e01",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "FAN I",
        "group": "12dbcafb65a6e667",
        "order": 17,
        "value": "msg.payload.MPCU_values.MPCU_FAN3_SPEED",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "FAN I",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1610,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "bfe3078b728c50d9",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "PUMP M",
        "group": "12dbcafb65a6e667",
        "order": 18,
        "value": "msg.payload.MPCU_values.MPCU_MOTOR_PUMP_SPEED",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "PUMP M",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1620,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "464a558d4c4d2808",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "PUMP I",
        "group": "12dbcafb65a6e667",
        "order": 19,
        "value": "msg.payload.MPCU_values.MPCU_INVERTER_PUMP_SPEED",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "PUMP I",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "%",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1620,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "7ded3a3d92ad98ab",
        "type": "InterruptFlowUltimate",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "Interrupt Flow",
        "triggertopic": "override",
        "initializewith": "0",
        "autoToggle": "0",
        "payloadPropName": "payload",
        "translatorConfig": "",
        "x": 1090,
        "y": 640,
        "wires": [
            [
                "08c4fabbcdcd9b7c"
            ]
        ]
    },
    {
        "id": "da80081c3ceb03bf",
        "type": "InterruptFlowUltimate",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "Interrupt Flow",
        "triggertopic": "override",
        "initializewith": "0",
        "autoToggle": "0",
        "payloadPropName": "payload",
        "translatorConfig": "",
        "x": 1090,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "39cc9e6832250b4d",
        "type": "ui-button",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "group": "12dbcafb65a6e667",
        "name": "",
        "label": "DISABLE ALL",
        "order": 5,
        "width": 1,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "false",
        "payloadType": "bool",
        "topic": "override",
        "topicType": "str",
        "buttonColor": "green",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 220,
        "y": 720,
        "wires": [
            [
                "ce47f0ed02af1ac3",
                "cd3b6e7c07e1b0f8"
            ]
        ]
    },
    {
        "id": "da293570cdb89a2d",
        "type": "ui-button",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "group": "12dbcafb65a6e667",
        "name": "",
        "label": "ENABLE ALL",
        "order": 4,
        "width": 1,
        "height": 3,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "true",
        "payloadType": "bool",
        "topic": "override",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 230,
        "y": 680,
        "wires": [
            [
                "ce47f0ed02af1ac3",
                "cd3b6e7c07e1b0f8"
            ]
        ]
    },
    {
        "id": "bf81fef9d6979b4b",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "Inverter Temperature",
        "group": "7ce9ca5952a94637",
        "order": 3,
        "value": "msg.payload.MPCU_values.MPCU_INVERTER_TEMPERATURE",
        "valueType": "jsonata",
        "width": 2,
        "height": 6,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Inverter Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "temperature-celsius",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "50",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "70",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "80",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1240,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "6a2b5939fd1cb5d1",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "Motor Temperature",
        "group": "7ce9ca5952a94637",
        "order": 2,
        "value": "msg.payload.MPCU_values.MPCU_MOTOR_TEMPERATURE",
        "valueType": "jsonata",
        "width": 2,
        "height": 6,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Motor Temperature",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "",
        "icon": "temperature-celsius",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "100",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "120",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1230,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "59b83c4f121bf715",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "Motor RPM",
        "group": "7ce9ca5952a94637",
        "order": 1,
        "value": "msg.payload.MPCU_values.MPCU_MOTOR_RPM",
        "valueType": "jsonata",
        "width": 3,
        "height": 6,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Motor RPM",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "4000",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "5000",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "5500",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1210,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "29fec4d21c141606",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "LV Current",
        "group": "7ce9ca5952a94637",
        "order": 5,
        "value": "msg.payload.MPCU_values.MPCU_LEM_CURRENT",
        "valueType": "jsonata",
        "width": 1,
        "height": 3,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "LV Current",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "A",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "30",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "50",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1210,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "05f07425262bfe02",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "HV Voltage-Inv",
        "group": "7ce9ca5952a94637",
        "order": 4,
        "value": "msg.payload.MPCU_values.MPCU_BUS_VOLTAGE",
        "valueType": "jsonata",
        "width": 2,
        "height": 6,
        "gtype": "gauge-34",
        "gstyle": "needle",
        "title": "Inverter HV Voltage ",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "V",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            },
            {
                "from": "10",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "11",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "15",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1220,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "fd22acc5301c6f88",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "Inverter Error state",
        "group": "7ce9ca5952a94637",
        "order": 10,
        "value": "msg.payload.MPCU_values.MPCU_INVERTER_ERROR_STATES",
        "valueType": "jsonata",
        "width": 1,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Inverter Error",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "128",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1230,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "3133ca825ea805b7",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "name": "Inverter Warning",
        "group": "7ce9ca5952a94637",
        "order": 6,
        "value": "msg.payload.MPCU_values.MPCU_INVERTER_WARNING_STATES",
        "valueType": "jsonata",
        "width": 1,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Inverter Warning",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "RPM",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "1",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "10",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 1220,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "014c4db161381d83",
        "type": "link in",
        "z": "58531eb4c616092e",
        "name": "link in 1",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 765,
        "y": 300,
        "wires": [
            [
                "e0e92b61642707d5",
                "741ac3e0aaa824f5",
                "c644ced362abf975",
                "e49b49825ad2c064",
                "2b8b76cbe9120ee2",
                "808cf751c6ac1fec",
                "f99e5d93708119d6",
                "5bf6b1ab43c4c95b",
                "654c17edae95981e"
            ]
        ]
    },
    {
        "id": "63510a53b3c81696",
        "type": "link in",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "link in 2",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 1415,
        "y": 900,
        "wires": [
            [
                "2e5716ee927c9076",
                "5a7f66cea22f5c1e",
                "03d6871ae86bdc6d",
                "c3d1700752b1d443",
                "4872fd1e4fec1e01",
                "bfe3078b728c50d9",
                "464a558d4c4d2808"
            ]
        ]
    },
    {
        "id": "12bc8e4c1be8669f",
        "type": "link in",
        "z": "58531eb4c616092e",
        "name": "link in 3",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 1005,
        "y": 1580,
        "wires": [
            [
                "bf81fef9d6979b4b",
                "6a2b5939fd1cb5d1",
                "59b83c4f121bf715",
                "29fec4d21c141606",
                "05f07425262bfe02",
                "fd22acc5301c6f88",
                "3133ca825ea805b7",
                "caa2c4af47e6fcea",
                "cdb3c33dbb3ffdd5"
            ]
        ]
    },
    {
        "id": "122e8bc88c49ef15",
        "type": "link in",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "link in 4",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 35,
        "y": 920,
        "wires": [
            [
                "f937a48dafb7e4ce",
                "34794d4b807c868d"
            ]
        ]
    },
    {
        "id": "cdb3c33dbb3ffdd5",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "group": "7ce9ca5952a94637",
        "order": 11,
        "width": 1,
        "height": 0,
        "name": "Inverter Error",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.MPCU_values.MPCU_INVERTER_ERROR_STATES",
        "valueType": "jsonata",
        "x": 1210,
        "y": 1720,
        "wires": []
    },
    {
        "id": "caa2c4af47e6fcea",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "g": "2ed428752a2a8e1c",
        "group": "7ce9ca5952a94637",
        "order": 8,
        "width": 1,
        "height": 0,
        "name": "Inverter Warning",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.MPCU_values.MPCU_INVERTER_WARNING_STATES",
        "valueType": "jsonata",
        "x": 1220,
        "y": 1800,
        "wires": []
    },
    {
        "id": "34794d4b807c868d",
        "type": "change",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.MPCU_systems_settings_to_dash.Power_limitter)/1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 640,
        "wires": [
            [
                "d213ec5cf047ba71"
            ]
        ]
    },
    {
        "id": "f937a48dafb7e4ce",
        "type": "change",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.MPCU_systems_settings_to_dash.Max_motor_RPM)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 760,
        "wires": [
            [
                "2d776543f5b95b12"
            ]
        ]
    },
    {
        "id": "654c17edae95981e",
        "type": "ui-text",
        "z": "58531eb4c616092e",
        "group": "e3b8cff4e6ddd0e6",
        "order": 9,
        "width": 2,
        "height": 3,
        "name": "Timestamp",
        "label": "Last MPCU message received",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": true,
        "className": "",
        "value": "$exists(payload.MPCU_values.MPCU_INVERTER_TEMPERATURE) ? timestamp",
        "valueType": "jsonata",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "f25714a912b22fb5",
        "type": "ui-button",
        "z": "58531eb4c616092e",
        "group": "12dbcafb65a6e667",
        "name": "State OFF Request",
        "label": "MPCU State Request",
        "order": 1,
        "width": 7,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "MPCU_REQUEST",
        "payloadType": "flow",
        "topic": "state_request",
        "topicType": "str",
        "buttonColor": "red",
        "textColor": "white",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 1380,
        "wires": [
            [
                "d3f39920a7ade53f",
                "3a507942fba0ed58"
            ]
        ]
    },
    {
        "id": "d3f39920a7ade53f",
        "type": "change",
        "z": "58531eb4c616092e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "send.state_request.state_request",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 1380,
        "wires": [
            [
                "1cece6039995bc6c"
            ]
        ]
    },
    {
        "id": "1cece6039995bc6c",
        "type": "link out",
        "z": "58531eb4c616092e",
        "name": "link out 4",
        "mode": "link",
        "links": [
            "a340626bd648322b"
        ],
        "x": 775,
        "y": 1380,
        "wires": []
    },
    {
        "id": "19df24033677651b",
        "type": "ui-dropdown",
        "z": "58531eb4c616092e",
        "group": "12dbcafb65a6e667",
        "name": "MPCU REQUEST ",
        "label": "Select Option:",
        "tooltip": "",
        "order": 2,
        "width": 5,
        "height": 0,
        "passthru": false,
        "multiple": false,
        "chips": false,
        "clearable": false,
        "options": [
            {
                "label": "STARTUP",
                "value": 0,
                "type": "num"
            },
            {
                "label": "STANDBY",
                "value": "1",
                "type": "str"
            },
            {
                "label": "TSON",
                "value": "2",
                "type": "str"
            },
            {
                "label": "R2D",
                "value": "3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "payload",
        "topicType": "msg",
        "className": "",
        "typeIsComboBox": true,
        "msgTrigger": "onChange",
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "3b5aebbceec5c8a6"
            ]
        ]
    },
    {
        "id": "3a507942fba0ed58",
        "type": "debug",
        "z": "58531eb4c616092e",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1440,
        "wires": []
    },
    {
        "id": "3b5aebbceec5c8a6",
        "type": "change",
        "z": "58531eb4c616092e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MPCU_REQUEST",
                "pt": "flow",
                "to": "$number(msg.payload)",
                "tot": "jsonata",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "08c4fabbcdcd9b7c",
        "type": "link out",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "link out 5",
        "mode": "link",
        "links": [
            "a340626bd648322b"
        ],
        "x": 1335,
        "y": 900,
        "wires": []
    },
    {
        "id": "2ec8f7abe60963fe",
        "type": "ui-slider",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "group": "12dbcafb65a6e667",
        "name": "Cooling Override",
        "label": "",
        "tooltip": "",
        "order": 20,
        "width": 2,
        "height": "1",
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "thumbLabel": "true",
        "showTicks": "always",
        "min": "0",
        "max": "100",
        "step": "10",
        "className": "",
        "iconPrepend": "",
        "iconAppend": "",
        "color": "red",
        "colorTrack": "red",
        "colorThumb": "white",
        "showTextField": false,
        "x": 490,
        "y": 960,
        "wires": [
            [
                "ae1a0a7a0c033d7b"
            ]
        ]
    },
    {
        "id": "63321d9bce378ae4",
        "type": "change",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.MPCU_systems_settings_to_dash.Max_motor_RPM)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 960,
        "wires": [
            [
                "2ec8f7abe60963fe"
            ]
        ]
    },
    {
        "id": "9c4118dcf7f9fda7",
        "type": "ui-gauge",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "Cooling system setting",
        "group": "12dbcafb65a6e667",
        "order": 14,
        "value": "payload",
        "valueType": "msg",
        "width": 2,
        "height": 2,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "Cooling setting",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "AUTO",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#ffc800",
                "text": "MANUAL",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "1",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 580,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "ae1a0a7a0c033d7b",
        "type": "change",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "setting",
                "pt": "msg",
                "to": "msg.payload ? 1 : 0",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 1060,
        "wires": [
            [
                "9c4118dcf7f9fda7"
            ]
        ]
    },
    {
        "id": "988066609920e577",
        "type": "comment",
        "z": "58531eb4c616092e",
        "g": "50019cb37f3dfa92",
        "name": "",
        "info": "For testing purposes",
        "x": 660,
        "y": 1020,
        "wires": []
    },
    {
        "id": "45ee29288ff68b21",
        "type": "ui-table",
        "z": "7de09f7e9474d780",
        "group": "8fe5ca59c52d6275",
        "name": "voltages table",
        "label": "",
        "order": 1,
        "width": 8,
        "height": 0,
        "maxrows": "0",
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "",
                "key": "",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ab4acc7f57471db1",
        "type": "link in",
        "z": "7de09f7e9474d780",
        "name": "link in 5",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 185,
        "y": 280,
        "wires": [
            [
                "19150ae8e0992f23"
            ]
        ]
    },
    {
        "id": "19150ae8e0992f23",
        "type": "function",
        "z": "7de09f7e9474d780",
        "name": "Convert data to table",
        "func": "// 1. Retrieve the existing table from global context, or initialize it\nlet tableData = global.get(\"tsacVoltageTable\");\n\nif (!tableData) {\n    tableData = [];\n    // Initialize 22 rows with blank/null values\n    for (let i = 1; i <= 22; i++) {\n        tableData.push({\n            \"Cell\": i,\n            \"TSAC 1\": null,\n            \"TSAC 2\": null,\n            \"TSAC 3\": null,\n            \"TSAC 4\": null,\n            \"TSAC 5\": null\n        });\n    }\n}\n\n// 2. Process the incoming parsed data\nlet incomingData = msg.payload;\n\nfor (let segmentKey in incomingData) {\n    if (incomingData.hasOwnProperty(segmentKey) && segmentKey.startsWith(\"TSAC_Voltages\")) {\n\n        // Extract the segment number (1-5) to match the column names\n        let segmentNum = segmentKey.replace(\"TSAC_Voltages\", \"\");\n        let columnName = \"TSAC segment \" + segmentNum;\n\n        let segmentData = incomingData[segmentKey];\n\n        // Update the 22 rows for this specific column\n        for (let i = 1; i <= 22; i++) {\n            let voltageKey = `${segmentKey}_${i}`;\n\n            if (segmentData.hasOwnProperty(voltageKey)) {\n                let rawValue = segmentData[voltageKey];\n\n                // Divide by 10000, force 4 decimal places, and append \" V\"\n                let formattedVoltage = rawValue.toFixed(4) + \" V\";\n\n                tableData[i - 1][columnName] = formattedVoltage;\n            }\n        }\n    }\n}\n\n// 3. Save the updated table back to the global context\nglobal.set(\"tsacVoltageTable\", tableData);\n\n// 4. Send the complete, updated table to the dashboard\nmsg.payload = tableData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 280,
        "wires": [
            [
                "45ee29288ff68b21",
                "b772ac2053979b0a"
            ]
        ]
    },
    {
        "id": "5d0750c6db72464b",
        "type": "function",
        "z": "7de09f7e9474d780",
        "name": "Reset table",
        "func": "let emptyTable = [];\n\n// Rebuild the 22 empty rows\nfor (let i = 1; i <= 22; i++) {\n    emptyTable.push({\n        \"Cell\": i,\n        \"TSAC segment 1\": null,\n        \"TSAC segment 2\": null,\n        \"TSAC segment 3\": null,\n        \"TSAC segment 4\": null,\n        \"TSAC segment 5\": null\n    });\n}\n\n// Overwrite the saved global table with the empty one\nglobal.set(\"tsacVoltageTable\", emptyTable);\n\n// Send the empty table to the dashboard to clear the view\nmsg.payload = emptyTable;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            [
                "45ee29288ff68b21"
            ]
        ]
    },
    {
        "id": "880c23ca013bae5b",
        "type": "ui-button",
        "z": "7de09f7e9474d780",
        "group": "8fe5ca59c52d6275",
        "name": "",
        "label": "Reset voltages",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 140,
        "y": 200,
        "wires": [
            [
                "5d0750c6db72464b"
            ]
        ]
    },
    {
        "id": "06b80573d4a72543",
        "type": "inject",
        "z": "7de09f7e9474d780",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "06e2dde19ceb1603"
            ]
        ]
    },
    {
        "id": "06e2dde19ceb1603",
        "type": "function",
        "z": "7de09f7e9474d780",
        "name": "Test Data",
        "func": "let testPayload = {};\n\n// Loop through the 5 possible TSAC segments\nfor (let tsac = 1; tsac <= 5; tsac++) {\n\n    // 80% chance to include this segment in the current message \n    // (This tests your system's ability to handle partial data)\n    if (Math.random() < 0.8) {\n        let tsacKey = `TSAC_Voltages${tsac}`;\n        testPayload[tsacKey] = {};\n\n        // Generate 22 cell voltages for this segment\n        for (let cell = 1; cell <= 22; cell++) {\n            // Generate a random raw integer between 30000 and 42000\n            // When divided by 10000 in your main node, this becomes 3.0 to 4.2\n            let randomRawVoltage = Math.floor(Math.random() * (42000 - 30000 + 1)) + 30000;\n\n            let voltageKey = `${tsacKey}_${cell}`;\n            testPayload[tsacKey][voltageKey] = randomRawVoltage;\n        }\n    }\n}\n\n// If by random chance no segments were generated, force TSAC 1 to generate \n// so the payload is never completely empty\nif (Object.keys(testPayload).length === 0) {\n    testPayload[\"TSAC_Voltages1\"] = {};\n    for (let cell = 1; cell <= 22; cell++) {\n        testPayload[\"TSAC_Voltages1\"][`TSAC_Voltages1_${cell}`] = 35000; // 3.5000 V\n    }\n}\n\nmsg.payload = testPayload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 340,
        "wires": [
            [
                "19150ae8e0992f23",
                "b772ac2053979b0a"
            ]
        ]
    },
    {
        "id": "b772ac2053979b0a",
        "type": "debug",
        "z": "7de09f7e9474d780",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 340,
        "wires": []
    },
    {
        "id": "de8e0d0f4e33439e",
        "type": "ui-table",
        "z": "7de09f7e9474d780",
        "group": "1a52191c22f83d4f",
        "name": "temperatures table",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "maxrows": "0",
        "passthru": false,
        "autocols": true,
        "showSearch": false,
        "deselect": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "",
                "key": "",
                "keyType": "key",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "mobileBreakpoint": "sm",
        "mobileBreakpointType": "defaults",
        "action": "replace",
        "className": "",
        "x": 870,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "3cd8f095eb118145",
        "type": "link in",
        "z": "7de09f7e9474d780",
        "name": "link in 6",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 185,
        "y": 520,
        "wires": [
            [
                "ccfb079d7b8731a6"
            ]
        ]
    },
    {
        "id": "ccfb079d7b8731a6",
        "type": "function",
        "z": "7de09f7e9474d780",
        "name": "Convert data to table",
        "func": "// 1. Retrieve the existing table from global context, or initialize it\nlet tableData = global.get(\"tsacTempTable\");\n\nif (!tableData) {\n    tableData = [];\n    // Initialize 22 rows with blank/null values\n    for (let i = 1; i <= 22; i++) {\n        tableData.push({\n            \"Cell\": i,\n            \"TSAC segment 1\": null,\n            \"TSAC segment 2\": null,\n            \"TSAC segment 3\": null,\n            \"TSAC segment 4\": null,\n            \"TSAC segment 5\": null\n        });\n    }\n}\n\n// 2. Process the incoming parsed data\nlet incomingData = msg.payload;\n\nfor (let segmentKey in incomingData) {\n    if (incomingData.hasOwnProperty(segmentKey) && segmentKey.startsWith(\"TSAC_Temperatures\")) {\n\n        // Extract the segment number (1-5) to match the column names\n        let segmentNum = segmentKey.replace(\"TSAC_Temperatures\", \"\");\n        let columnName = \"TSAC segment \" + segmentNum;\n\n        let segmentData = incomingData[segmentKey];\n\n        // Update the 22 rows for this specific column\n        for (let i = 1; i <= 22; i++) {\n            let voltageKey = `${segmentKey}_${i}`;\n\n            if (segmentData.hasOwnProperty(voltageKey)) {\n                let rawValue = segmentData[voltageKey];\n\n                // Divide by 10, force 1 decimal places, and append \" C\"\n                let formattedVoltage = rawValue.toFixed(1) + \" C\";\n\n                tableData[i - 1][columnName] = formattedVoltage;\n            }\n        }\n    }\n}\n\n// 3. Save the updated table back to the global context\nglobal.set(\"tsacTempTable\", tableData);\n\n// 4. Send the complete, updated table to the dashboard\nmsg.payload = tableData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 520,
        "wires": [
            [
                "de8e0d0f4e33439e",
                "ba2b52471666ce14"
            ]
        ]
    },
    {
        "id": "8cc61ed467800a12",
        "type": "function",
        "z": "7de09f7e9474d780",
        "name": "Reset table",
        "func": "let emptyTable = [];\n\n// Rebuild the 22 empty rows\nfor (let i = 1; i <= 22; i++) {\n    emptyTable.push({\n        \"Cell\": i,\n        \"TSAC segment 1\": null,\n        \"TSAC segment 2\": null,\n        \"TSAC segment 3\": null,\n        \"TSAC segment 4\": null,\n        \"TSAC segment 5\": null\n    });\n}\n\n// Overwrite the saved global table with the empty one\nglobal.set(\"tsacTempTable\", emptyTable);\n\n// Send the empty table to the dashboard to clear the view\nmsg.payload = emptyTable;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 440,
        "wires": [
            [
                "de8e0d0f4e33439e"
            ]
        ]
    },
    {
        "id": "75c60f0c1bbd6864",
        "type": "ui-button",
        "z": "7de09f7e9474d780",
        "group": "1a52191c22f83d4f",
        "name": "",
        "label": "Reset temperatures",
        "order": 2,
        "width": 0,
        "height": 0,
        "emulateClick": false,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 150,
        "y": 440,
        "wires": [
            [
                "8cc61ed467800a12"
            ]
        ]
    },
    {
        "id": "df33d0001e3e3c91",
        "type": "inject",
        "z": "7de09f7e9474d780",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "ac657d18c96cefe7"
            ]
        ]
    },
    {
        "id": "ac657d18c96cefe7",
        "type": "function",
        "z": "7de09f7e9474d780",
        "name": "Test Data",
        "func": "let testPayload = {};\n\n// Loop through the 5 possible TSAC segments\nfor (let tsac = 1; tsac <= 5; tsac++) {\n\n    // 80% chance to include this segment in the current message \n    // (This tests your system's ability to handle partial data)\n    if (Math.random() < 0.8) {\n        let tsacKey = `TSAC_Temperatures${tsac}`;\n        testPayload[tsacKey] = {};\n\n        // Generate 22 cell temperatures for this segment\n        for (let cell = 1; cell <= 22; cell++) {\n            // Generate a random raw integer between 150 and 500\n            // When divided by 10 in your main node, this becomes 15.0 to 50.0\n            let randomRawVoltage = (Math.floor(Math.random() * (500 - 150 + 1)) + 150)/10;\n\n            let voltageKey = `${tsacKey}_${cell}`;\n            testPayload[tsacKey][voltageKey] = randomRawVoltage;\n        }\n    }\n}\n\n// If by random chance no segments were generated, force TSAC 1 to generate \n// so the payload is never completely empty\nif (Object.keys(testPayload).length === 0) {\n    testPayload[\"TSAC_Temperaturess1\"] = {};\n    for (let cell = 1; cell <= 22; cell++) {\n        testPayload[\"TSAC_Temperatures1\"][`TSAC_Temperatures1_${cell}`] = 200; // 20.0 C\n    }\n}\n\nmsg.payload = testPayload;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "ccfb079d7b8731a6",
                "ba2b52471666ce14"
            ]
        ]
    },
    {
        "id": "ba2b52471666ce14",
        "type": "debug",
        "z": "7de09f7e9474d780",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 580,
        "wires": []
    },
    {
        "id": "4108ddab8e21e287",
        "type": "link in",
        "z": "7dade78592428d89",
        "name": "link in 7",
        "links": [
            "a98dc49a88f46c76"
        ],
        "x": 255,
        "y": 300,
        "wires": [
            [
                "f3d98c90779ee73f",
                "f6d4234db30b3d96",
                "3bef5d58325f7fbd",
                "2c12ce22b35c7735"
            ]
        ]
    },
    {
        "id": "7c660ac8fad5f952",
        "type": "ui-progress",
        "z": "7dade78592428d89",
        "group": "a9df5341a2cc8e73",
        "name": "",
        "label": "APPS 1",
        "order": 1,
        "width": 4,
        "height": 0,
        "color": "green",
        "className": "",
        "x": 680,
        "y": 260,
        "wires": []
    },
    {
        "id": "7e98e97e30f48bd7",
        "type": "ui-progress",
        "z": "7dade78592428d89",
        "group": "a9df5341a2cc8e73",
        "name": "",
        "label": "APPS 2",
        "order": 4,
        "width": 4,
        "height": 0,
        "color": "green",
        "className": "",
        "x": 680,
        "y": 340,
        "wires": []
    },
    {
        "id": "9ba9777c8c1c10d7",
        "type": "ui-progress",
        "z": "7dade78592428d89",
        "group": "a9df5341a2cc8e73",
        "name": "",
        "label": "APPS",
        "order": 3,
        "width": 4,
        "height": 2,
        "color": "red",
        "className": "",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "f3d98c90779ee73f",
        "type": "ui-gauge",
        "z": "7dade78592428d89",
        "name": "",
        "group": "a9df5341a2cc8e73",
        "order": 2,
        "value": "msg.payload.APPS_Error_Data.APPS_Error ? msg.payload.APPS_Error_Data.APPS_Error",
        "valueType": "jsonata",
        "width": 2,
        "height": 3,
        "gtype": "gauge-tile",
        "gstyle": "needle",
        "title": "APPS ERROR",
        "alwaysShowTitle": true,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "No Error",
                "textType": "str"
            },
            {
                "from": "1",
                "color": "#ea5353",
                "text": "Poll Error",
                "textType": "str"
            },
            {
                "from": "10",
                "color": "#ea5353",
                "text": "APPS 1 Error",
                "textType": "str"
            },
            {
                "from": "11",
                "color": "#ea5353",
                "text": "APPS 2 Error",
                "textType": "str"
            },
            {
                "from": "32",
                "color": "#ea5353",
                "text": "KS IN OPEN ERROR",
                "textType": "str"
            }
        ],
        "min": 0,
        "max": "32",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 420,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "2c27180cd63e4744",
        "type": "ui-button",
        "z": "7dade78592428d89",
        "group": "a9df5341a2cc8e73",
        "name": "",
        "label": "Reset Error",
        "order": 5,
        "width": "2",
        "height": "1",
        "emulateClick": true,
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "iconPosition": "left",
        "payload": "0",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "buttonColor": "",
        "textColor": "",
        "iconColor": "",
        "enableClick": true,
        "enablePointerdown": false,
        "pointerdownPayload": "",
        "pointerdownPayloadType": "str",
        "enablePointerup": false,
        "pointerupPayload": "",
        "pointerupPayloadType": "str",
        "x": 210,
        "y": 480,
        "wires": [
            [
                "f3d98c90779ee73f"
            ]
        ]
    },
    {
        "id": "f6d4234db30b3d96",
        "type": "change",
        "z": "7dade78592428d89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.APPS_Normal_Data.APPS_Data)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 300,
        "wires": [
            [
                "9ba9777c8c1c10d7"
            ]
        ]
    },
    {
        "id": "2c12ce22b35c7735",
        "type": "change",
        "z": "7dade78592428d89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.APPS_Normal_Data.APPS1_interpolated)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 260,
        "wires": [
            [
                "7c660ac8fad5f952"
            ]
        ]
    },
    {
        "id": "3bef5d58325f7fbd",
        "type": "change",
        "z": "7dade78592428d89",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$number(msg.payload.APPS_Normal_Data.APPS2_interpolated)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 340,
        "wires": [
            [
                "7e98e97e30f48bd7"
            ]
        ]
    },
    {
        "id": "c4bb1a2a2469d4ac",
        "type": "udp in",
        "z": "4197684541243468",
        "name": "",
        "iface": "",
        "port": "6666",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "6dd2403a0c096bf9"
            ]
        ]
    },
    {
        "id": "dfcd529ef131a26f",
        "type": "debug",
        "z": "4197684541243468",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 280,
        "wires": []
    },
    {
        "id": "2ee65640b6e5d428",
        "type": "udp out",
        "z": "4197684541243468",
        "name": "",
        "addr": "192.168.1.69",
        "iface": "",
        "port": "6667",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 790,
        "y": 340,
        "wires": []
    },
    {
        "id": "6dd2403a0c096bf9",
        "type": "json",
        "z": "4197684541243468",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 370,
        "y": 220,
        "wires": [
            [
                "d33c98f46a9ae934"
            ]
        ]
    },
    {
        "id": "745cc10c0f361af6",
        "type": "json",
        "z": "4197684541243468",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 550,
        "y": 340,
        "wires": [
            [
                "dfcd529ef131a26f",
                "2ee65640b6e5d428"
            ]
        ]
    },
    {
        "id": "a98dc49a88f46c76",
        "type": "link out",
        "z": "4197684541243468",
        "name": "Incomming messages",
        "mode": "link",
        "links": [
            "014c4db161381d83",
            "122e8bc88c49ef15",
            "12bc8e4c1be8669f",
            "3cd8f095eb118145",
            "4108ddab8e21e287",
            "5844b0df472597dd",
            "63510a53b3c81696",
            "ab4acc7f57471db1"
        ],
        "x": 725,
        "y": 220,
        "wires": []
    },
    {
        "id": "a340626bd648322b",
        "type": "link in",
        "z": "4197684541243468",
        "name": "Outgoing messages",
        "links": [
            "e017eb4860ec0fc6",
            "61bcb02cec7bbe36",
            "64f6f01c27054c11",
            "1cece6039995bc6c",
            "08c4fabbcdcd9b7c"
        ],
        "x": 175,
        "y": 340,
        "wires": [
            [
                "9556fdf3d9b9611f"
            ]
        ]
    },
    {
        "id": "c9ad0774d2b6f520",
        "type": "debug",
        "z": "4197684541243468",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "9556fdf3d9b9611f",
        "type": "change",
        "z": "4197684541243468",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_client",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "fromip",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "ip",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "port",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_event",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "send",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "timestamp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "745cc10c0f361af6"
            ]
        ]
    },
    {
        "id": "d33c98f46a9ae934",
        "type": "change",
        "z": "4197684541243468",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "timestamp",
                "pt": "msg",
                "to": "$fromMillis($millis(), '[Y]/[M01]/[D01] [H01]:[m01]:[s01]', '+0100')",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 220,
        "wires": [
            [
                "a98dc49a88f46c76",
                "c9ad0774d2b6f520"
            ]
        ]
    },
    {
        "id": "59c69f1ec8cf8c4a",
        "type": "udp out",
        "z": "4197684541243468",
        "name": "",
        "addr": "192.168.1.69",
        "iface": "",
        "port": "6667",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "c4b25fb626717fee",
        "type": "inject",
        "z": "4197684541243468",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 480,
        "wires": [
            [
                "8b418ae606b7ab4c"
            ]
        ]
    },
    {
        "id": "8b418ae606b7ab4c",
        "type": "template",
        "z": "4197684541243468",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"state_request\": {\n        \"state_request\": 2\n    }\n}",
        "output": "str",
        "x": 520,
        "y": 480,
        "wires": [
            [
                "59c69f1ec8cf8c4a",
                "c43b15e44e49f36f"
            ]
        ]
    },
    {
        "id": "c43b15e44e49f36f",
        "type": "debug",
        "z": "4197684541243468",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 440,
        "wires": []
    }
]